*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.items{
  display: flex;
  background-color: #E91E63;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-radius: 10px;
  list-style-type: none;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  margin: 5px;
}
.mainContainer{
  display: flex;
  justify-content: center;
  background-color: #CECECD;
  height: 100vh;
  
}
button{
  color: white;
  border-radius: 10px;
  background-color: #E91E63;
  width: 50px;
  height: 35px;
  border: none;
  margin: 10px;
}

.todoBox{
  margin: 30px;
  background-color:white;
  max-width: 400px;
  border-radius: 10px;
  color: #E91E63;

}
.delete{
  cursor: pointer;
}

input[type=text] {
	appearance: none;
	border: none;
	outline: none;
	border-bottom: .2em solid #E91E63;
	background: rgba(#E91E63, .2);
	border-radius: .2em .2em 0 0;
	padding: .4em;
	color: #E91E63;
}